My_workflow_4.json
{
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "audio-upload",
        "options": {}
      },
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -720,
        180
      ],
      "id": "cdc93267-45c1-4ea8-bfee-00927dfbae9e",
      "webhookId": "f6cab82d-fa6e-4ec4-a808-d3614648772f"
    },
    {
      "parameters": {
        "functionCode": "// Log what data we're receiving for debugging\nconst inputData = $input.all();\nconsole.log('Input data:', JSON.stringify(inputData, null, 2));\n\n// Extract audio URL or file information\nlet audioUrl = '';\nlet fileInfo = {};\n\n// Check if data is in first array item\nif (Array.isArray(inputData) && inputData.length > 0) {\n  console.log('Processing array item');\n  const item = inputData[0];\n  \n  // Check if we have binary data (for file info only)\n  if (item.binary) {\n    const binaryPropertyName = Object.keys(item.binary)[0];\n    const binaryData = item.binary[binaryPropertyName];\n    \n    fileInfo = {\n      fileName: binaryData.fileName,\n      fileSize: binaryData.fileSize,\n      mimeType: binaryData.mimeType\n    };\n  }\n  \n  // Check if we have a direct URL in the JSON\n  if (item.json && item.json.url) {\n    audioUrl = item.json.url;\n  }\n  // Or if we have an audio_url property\n  else if (item.json && item.json.audio_url) {\n    audioUrl = item.json.audio_url;\n  }\n}\n\n// If no URL found but we have webhook data with URL\nif (!audioUrl && $input.first().json) {\n  const json = $input.first().json;\n  if (json.url) {\n    audioUrl = json.url;\n  } else if (json.audio_url) {\n    audioUrl = json.audio_url;\n  }\n}\n\n// If we have binary data but no URL, we could generate a temporary URL or use a shared location\n// For now, we'll return detailed information for debugging\nif (!audioUrl) {\n  console.log('No audio URL found in the input data');\n  \n  // If we have binary data, we can mention that we have the file but need a URL\n  if (Object.keys(fileInfo).length > 0) {\n    return {\n      json: {\n        error: 'No audio URL provided, but file data is available',\n        fileInfo: fileInfo,\n        message: 'Please provide a URL to the audio file or upload it to a publicly accessible location',\n        inputStructure: JSON.stringify(inputData, null, 2)\n      }\n    };\n  } else {\n    // No URL and no file info\n    return {\n      json: {\n        error: 'No audio URL or file data found',\n        message: 'Please provide a URL to the audio file',\n        example: { url: 'https://example.com/audio.mp3' },\n        inputStructure: JSON.stringify(inputData, null, 2)\n      }\n    };\n  }\n}\n\n// Return the URL to be used with Deepgram API\nreturn {\n  json: {\n    url: audioUrl,\n    fileInfo: fileInfo\n  }\n};\n"
      },
      "name": "Fix Binary Data1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -580,
        220
      ],
      "id": "1ce5c393-2bee-47ae-b2d3-ec97c8b62496"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepgram.com/v1/listen",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "smart_format",
              "value": "true"
            },
            {
              "name": "language",
              "value": "vi"
            },
            {
              "name": "model",
              "value": "nova-2"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token b1b7e7fe73beb926b431700ceee69630c4d66292"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $('Webhook1').item.json.body.url }}"
            }
          ]
        },
        "options": {}
      },
      "name": "HTTP Request to Deepgram1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -400,
        100
      ],
      "id": "b5ade2f0-7fb0-4baa-b1bd-7030e8f08918"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.hasOwnProperty('results') }}",
              "value2": "true"
            }
          ]
        }
      },
      "name": "Check If Success1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -200,
        100
      ],
      "id": "90a4bd13-9fd1-49b8-81ce-65cf3d02d89d"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Success Message1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "69256984-4374-47cb-b10e-411fdde7d9fe"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Error Message1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        0,
        200
      ],
      "id": "007b9676-e9e5-47e7-963f-0232324005b9"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Fix Binary Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fix Binary Data1": {
      "main": [
        [
          {
            "node": "HTTP Request to Deepgram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request to Deepgram1": {
      "main": [
        [
          {
            "node": "Check If Success1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Success1": {
      "main": [
        [
          {
            "node": "Success Message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Message1": {
      "main": [
        []
      ]
    },
    "Error Message1": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "40993003-71c8-4cc3-9b2c-bcc18805df7a",
  "meta": {
    "instanceId": "4095a929d4f8d83a0b5c4824f57a716ae663befc55c5f55662ed88f2e4610cd1"
  },
  "id": "yiVeCQz8zY4CNcW6",
  "tags": []
}